[Unit]
Description=Radarr Movie Manager
After=network.target

[Service]
Type=simple
User=anon
Group=anon
ExecStart=/opt/Radarr/Radarr -nobrowser -data=/home/anon/.config/Radarr
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
