[Unit]
Description=FlareSolverr in VPN Namespace
After=network-online.target vpn-namespace.service
Wants=network-online.target
Requires=vpn-namespace.service

[Service]
Type=simple
User=anon
Group=anon
WorkingDirectory=/opt/FlareSolverr
NetworkNamespacePath=/run/netns/vpn
Environment="CHROME_EXE_PATH=/usr/bin/chromium"
Environment="LOG_LEVEL=info"
ExecStart=/usr/bin/python3 /opt/FlareSolverr/src/flaresolverr.py
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
