[Unit]
Description=Lidarr Music Manager
After=network.target

[Service]
Type=simple
User=anon
Group=anon
ExecStart=/opt/Lidarr/Lidarr -nobrowser -data=/home/anon/.config/Lidarr
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
