[Unit]
Description=Readarr Ebook/Audiobook Manager
After=network.target

[Service]
Type=simple
User=anon
Group=anon
ExecStart=/opt/Readarr/Readarr -nobrowser -data=/home/anon/.config/Readarr
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
